<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @score.value %>
</p>

<p>
  <b>Contestant:</b>
  <%= @score.contestant_id %>
</p>


<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
